:root {
    --white: #fff;
    --black: #000;
    --brand-primary:#FDCF24;
    --brand-blue:#1D2741;
    --brand-gray:#35373C;
    --brand-gray-light:#5d6372;
    --brand-light:#77797E;
    --brand-blue-light:#212842;
    --brand-line:#d4d4d4;

   
 


}