.footer {
    background: var(--brand-primary);
    padding: 50px 0;
    margin: 100px 0 0 0 ;

    .top-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left-footer {
            width: 10%;

            img {
                width: 100%;
            }

        }

        .right-footer {
            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;

                li {
                    margin: 0 97px;

                    .top {
                        display: flex;
                        align-items: center;

                        .left {
                            img {
                                width: 100%;
                            }

                        }

                        .right {
                            margin-left: 10px;

                            span {
                                color: var(--brand-blue);
                                font-size: 14px;

                            }

                            p {
                                font-size: 14px;
                                color: var(--white);
                                cursor: pointer;
                                transition: 0.9s ease all;
                                margin: 5px 0;

                                &:hover {
                                    color: var(--black);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .line-blue {
        border: 1px solid var(--brand-blue);
        margin: 50px 0;
        border-radius: 4px;
    }

    .down-footer {
        position: relative;
        .dot{
            position: absolute;
            bottom: 200px;
        
            height: 100px;
     
            left: -40px;
            
        }
        .all-footer {
            display: flex;
            justify-content: space-between;
            align-items: top;

            .logo-footer {
                h3 {
                    font-size: 18px;
                    color: var(--brand-blue-light);
                    font-weight: 500;

                }

                p {
                    font-size: 14px;
                    line-height: 24px;
                    margin: 5px 0;
                    width: 87%;
                    color: var(--brand-blue-light);
                    font-weight: 300;
                }
                img{
                    margin:0 -29px ;
                }

            }

            .center-footer {
                ul {
                    display: flex;
                    align-items: top;
                    justify-content: space-between;

                    li {
                        margin-right: 40px;
                  

                        h3 {
                            font-size: 18px;
                            color: var(--brand-blue-light);
                            font-weight: 500;
                        }

                        p {
                            font-size: 14px;
                            line-height: 24px;
                            margin: 5px 0;
                            width: 200px;
                            color: var(--brand-blue-light);
                            font-weight: 300;
                            transition: 0.9s ease all;
                      
                            cursor: pointer;
                            &:hover{
                                color: var(--white);
                            }
                        }
                    }
                }

            }

            .subscribe-footer {

                h3 {
                    font-size: 18px;
                    color: var(--brand-blue-light);
                    font-weight: 500;
                }

                .input {
                    input {
                        width: 250px;
                        padding: 10px;
                        height: 40px;
                        border-radius: 4px;
                        background: transparent;
                        border: 1px solid var(--brand-blue);
                        margin: 10px 0;
                        outline: none;

                    }
                    
                    ::placeholder {
                        color: var(--brand-blue);
                    }
                }

                p {
                    font-size: 14px;
                    line-height: 24px;
                    margin: 5px 0;
                    width: 231px;
                    color: var(--brand-blue-light);
                    font-weight: 300;
                }
            }
        }
        .copyright{
            
            margin: 50px 0;
                color: var(--brand-blue);
                font-size: 14px;
            
        }
    }
}